.sosialhjelp-oppholdsadresse {
    .skjema-sporsmal {
        padding-bottom: 1rem;
    }
    .skjemaelement {
        padding-bottom: 1rem;
    }
    .skjemaelement__label>* {
        padding-left: 1rem;
    }
    .skjema-informasjonspanel {
        margin-top: -1.2rem;
    }
    &>.skjema-sporsmal .skjema-sporsmal {
        padding-top: 2rem;
    }
}