<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <property name="loggingPattern" value="%d [%-5level] [%thread] %logger{5} %replace(- [%X{consumerId}, %X{callId}, %X{userId}] ){'- \[, , \] ',''}- %m%n"/>

    <appender name="exceptionlog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${APP_LOG_HOME}/soknadboilerplate_error.log</File>
        <encoder>
            <pattern>${loggingPattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>90</maxHistory>
            <FileNamePattern>${APP_LOG_HOME}/soknadboilerplate-error-%d{yyyy-MM-dd}.gz</FileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="infolog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${APP_LOG_HOME}/soknadboilerplate.log</File>
        <encoder>
            <pattern>${loggingPattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>90</maxHistory>
            <FileNamePattern>${APP_LOG_HOME}/soknadboilerplate-info-%d{yyyy-MM-dd}.gz</FileNamePattern>
        </rollingPolicy>
    </appender>

    <logger name="no.nav.sbl" level="info">
        <appender-ref ref="infolog"/>
    </logger>

    <root level="${ROOT_LOG_LEVEL:-INFO}">
        <appender-ref ref="exceptionlog"/>
        <appender-ref ref="infolog"/>
    </root>

</configuration>