@import "../../styles/variables";

.nivaTreSkjema {
	padding-top: 1rem;
	padding-bottom: 1rem;
	position: relative;

	&__boks {
		margin-top: 1rem;
	}

	&__innhold:before {
		content: '|';
		height: 1rem;
		width: 1rem;
		font-size: 1rem;
		position: absolute;
		border: none;
		top: 0px;
		left: .5rem;
	}
}
