<div id="feilside" data-ng-controller="FeilSideCtrl">
    <section class="feil-panel">
        <h1 class="stor-ikon-feil-gra" data-ng-bind-html="'feilmelding' | cmstekst"></h1>

        <p data-ng-bind-html="'feilside.404.fantIkkeSide' | cmstekst"></p>
        <p class="mini-strek">
            <span data-ng-bind-html="'feilside.feilkode' | cmstekst"></span>
            <span>404</span>
        </p>
        <p>
            <a type="button" class="knapp-link-liten" href="{{ dittnavUrl }}">
                {{ 'feilmelding.lenketekst' | cmstekst }}
            </a>
        </p>
    </section>
</div>
