/** Styling som overstyrer css fra nav-frontend-skjema */

.skjemaelement {
	.checkboks,
	.radioknapp {
		width: 30px;
		height: 30px;
		margin-top: -5px;
		margin-left: -5px;
	}
}

@media @mobile {
	.skjemaelement {
		.checkboks,
		.radioknapp {
			+ .skjemaelement__label {
				padding-left: 34px;
				min-height: 26px;
				line-height: initial;
				&:before {
					margin-top: -2px;
					width: 24px;
					height: 24px;
				}
			}
		}
	}
}

.skjemaelement {
	.checkboks,
	.radioknapp {
		+ .skjemaelement__label {
			&:before {
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}

.panel--noPadding {
	padding: 0;
}
.panel-padding {
	padding: 1rem;
}
