.skjema-content {
	margin: 0 auto;
	max-width: 640px;
}

.skjema-fieldset {
	border: none;
	padding: 0;
	margin: 0;
	legend {
		padding-right: @skjemaMarg + 10px; // pga.hjelpetekst
		padding-left: 0;
		margin-bottom: 1rem;
		font-weight: 600;
	}
}

.skjema-sporsmal {
	position: relative;
	display: block;
	padding: 1.5rem @skjemaMarg @sporsmalBottomPadding @skjemaMarg;
	border-radius: 4px;
	background-color: @white;
	&:focus {
		.focus-outline();
	}
	&--noBottomPadding {
		padding-bottom: 0;
	}
	&--systeminfo {
		padding-bottom: 0;
		.skjema-sporsmal--noBottomPadding .skjema-sporsmal:last-child {
			margin-bottom: 1rem;
		}
	}

	@media @mobile {
		padding-left: @skjemaMargMobil;
		padding-right: @skjemaMargMobil;
	}

	.skjema__feilomrade--harFeil:last-child {
		margin-bottom: 0;
	}

	// Underspørsmål (.skjema-sporsmal .skjema-sporsmal)
	.skjema-sporsmal {
		padding: 0;
		border-radius: 0;
		background-color: transparent;
		&:focus {
			border-radius: 4px;
			margin-left: -4px;
			padding-left: 4px;
		}
		.skjema-sporsmal__innhold {
			padding: 0;
		}
		> .skjemaelement:last-child {
			margin-bottom: 0;
		}
	}

	&__tittel {
		font-size: 1em;
		font-weight: 600;
	}

	&__infotekst {
		margin: 0 0 1.5rem 0;
		&__tittel {
			margin: 1rem 0 1rem 0;
		}
	}

	&__hjelpetekst {
		position: absolute;
		top: 1.4rem;
		right: @skjemaMarg;
		@media @mobile {
			top: @skjemaMargMobil;
			right: @skjemaMargMobil;
		}
	}
}

.skjema-steg {
	text-align: left;
	&__feiloppsummering {
		.panel--feiloppsummering {
			margin-bottom: 4rem;
		}
	}
	&__tittel {
		margin-top: 0;
		margin-bottom: 1rem;
		&:focus {
			outline: none;
		}
	}
	.skjema-sporsmal {
		margin-bottom: 1rem;
		.skjema-sporsmal {
			margin-bottom: 0;
		}
	}
}

/** 
	Firefox required styling 
	Fjerner default rød ramme på skjema-elementer som her påkrevd
*/
:not(output):-moz-ui-invalid {
	box-shadow: none;
}
:not(output):-moz-ui-invalid:-moz-focusring:not:focus {
	box-shadow: none;
}
