@skjemaMarg: 32px;
@skjemaMargMobil: 1rem;
@navBodyGraa: #f1f1f1;
@skjemabkg: @navBodyGraa;
@maxPageWidth: 640px;
@navText: @navMorkGra;

@mobile: ~'only screen and (max-width: 480px) ';
@desktop: ~'only screen and (min-width: 481px) ';

.focus-outline() {
	outline: none;
	box-shadow: 0 0 0 3px @orangeFocus;
}
