/**
    App spesic styling
*/
@import "../../nav-soknad/styles/variables.less";

.app-digisos {
	text-align: center;
	padding-bottom: 10em;
	&__title {
		margin-bottom: 3rem;
		margin-top: 1.5rem;
		@media @mobile {
			margin-bottom: 1.5rem;
		}
	}
}

.ekstrainfo-melding {
	margin-bottom: 2rem;
}
