/**
    App spesic styling
*/

@import "../informasjon/informasjon.less";
@import "../kvittering/kvittering.less";
@import "../skjema/ekstrainformasjon/ekstrainfo.less";
@import "../skjema/familie/barn.less";
@import "../skjema/oppsummering/oppsummering.less";
@import "../start/start.less";

.app-digisos {
	text-align: center;
	padding-bottom: 10em;
	&__title {
		margin-bottom: 3rem;
		margin-top: 1.5rem;
		@media @mobile {
			margin-bottom: 1.5rem;
		}
	}
}

.ekstrainfo-melding {
	margin-bottom: 2rem;
}
