.ettersendelse {
    &.maincontent {
        display: block;
        padding-top: 0;
        padding-bottom: 0;
    }

    &.ingress {
        font-size: 20px;
    }

    &__ikon {
        display: inline-block;
        width: 26px;
        height: 26px;
    }

    &__ikon-vedleggmangler {
        transform: translate(-40px);
    }

    &__panel {
        margin-top: 1rem;
        padding-top: 0.1rem;
        margin-bottom: 1rem;

        @media @mobile {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &_bunntekst {
        margin-top: 1rem;
    }
}

.blokk-center {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.avsnitt_med_marger {
    display: flex;
    width: 100%;
    background-color: @white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.venstremarg {
    flex-direction: row;
    width: 55px;
    min-width: 35px;

    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;

    @media @mobile {
        padding-left: 4px;
    }
}

.venstremarg svg {
    margin-top: 7px;
    margin-left: 1px;
}

.hoyremarg {
    flex-direction: row;
    width: 40px;
    display: block;
    padding-right: 1rem;

    @media @mobile {
        padding-right: 4px;
    }
}

.avsnitt {
    flex-direction: row;
    width: 100%;
    text-align: left;

    @media @mobile {
        margin-bottom: 4px;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1rem;
    }

    p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.trashcan {
    padding-left: 2px;
}

.paperclip_icon {
    float: left;
    margin-top: 4px;
}
