# /
/.idea
*.idea
*.iml
*.ipr
*.iws
/projectFilesBackup/
rebel.xml
target
*.idea

*.project
*.settings
*.classpath
*.DS_Store

consumer/*.pdf
test.pdf

node_modules/

**/webapp/css/**/*
**/webapp/img/**/*
**/webapp/js/**/*
web/src/main/webapp/soknadsosialhjelp-built.html