@import "../../../nav-soknad/styles/variables.less";

.utbetalinger {

  .utbetaling {
    position: relative;

    .verdi {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

/** Veldig spesifikk overrid enn så lenge */
.ekspanderbartPanel--skattbarInntekt {
  margin-bottom: @skjemaMargXL;
  .ekspanderbartPanel {
    &__heading, .typo-undertittel h4 {
      font-size: 1rem;
      font-weight: bold;
      padding-bottom: 0;
    }
    &__hode, &__innhold {
      padding-left: @skjemaMarg;
      padding-right: @skjemaMarg;
      @media @mobile {
        padding-left: @skjemaMarg/2;
        padding-right: @skjemaMarg/2;
      }
    }
  }
}
