{
  "extends": ["eslint:recommended", "angular"],
  "rules": {
    "no-extra-parens": 2, // - disallow unnecessary parentheses
    "no-unexpected-multiline": 2, // - Avoid code that looks like two expressions but is actually one
    "block-scoped-var":2, // - treat var statements as if they were block scoped
    "no-caller": 2, //- disallow use of arguments.caller or arguments.callee
    "no-eval": 2, //- disallow use of eval()
    "no-with":2, //disallow use of the with statement
    "curly":2, //specify curly brace conventions for all control statements
    "eqeqeq":2, // equire the use of === and !==
    "semi": [2, "always"], //require use of semicolons instead of ASI
    "no-eq-null": 2, //- disallow comparisons to null without a type-checking operator
    "angular/window-service": 0, //slår av warning ved bruk av window i stedet for angular-window-servicen
    "angular/controller-as": 0, // bruke this i stede for $scope i controllers. Skrudd av siden vi gjør dette over alt.
    "angular/no-private-call":0, //slår av warning ved bruk av $$-prefix (gjelder route),
    "angular/controller-name": 0 //slår av navnekonvensjonserror som vil at man skal skrive alle controllere med ordet Controller

  },
  "parser": "babel-eslint",
  "global": {
    "ga": true,
    "inject": true,
    "$": true
  },
  "env": {
    "browser": true,
    "jasmine": true,
    "es6": true,
    "commonjs": true
  },
  "plugins": [
    "jasmine"
  ]
}