.gui-bolk {
	background: white;
	padding: 4rem;
	text-align: center;

	&__tittel {
		font-size: 1em;
		font-weight: 600;
	}

	&__innhold {
		margin: 0 auto;
		text-align: left;
		max-width: 40em;
	}
}
