.banner {
  background-color: #9bd0b0;
  border-bottom: 5px solid #38a161;
  color: #3e3832;
  width: 100%;
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0;


  &__forside {
	padding-top: 2rem;
  }

  &__forside-wrapper {
	display: flex;
  }

  &__illustrasjon {
	display: block;
	position: relative;
	width: 93px;
	height: 100px;

	&__william {
	  display: block;
	  position: absolute;
	  bottom: 0;
	  left: 23px;
	  z-index: 1;
	  margin-bottom: -5px;
	}

	&__laptop {
	  display: block;
	  position: absolute;
	  bottom: 2px;
	  left: 0;
	  z-index: 2;
	  transform-origin: bottom;
	  margin-bottom: -7px;

	  -webkit-animation-name: openLaptop;
	  animation-name: openLaptop;
	  -webkit-animation-duration: 1s;
	  animation-duration: 1s;
	  -webkit-animation-fill-mode: forwards;
	  animation-fill-mode: forwards;
	  -webkit-animation-iteration-count: 1;
	  animation-iteration-count: 1;
	  -webkit-animation-timing-function: ease;
	  animation-timing-function: ease;
	  -webkit-transition: all 0.5s ease-in-out;
	  -o-transition: all 0.5s ease-in-out;
	  transition: all 0.5s ease-in-out;
	}

  }

}

@-webkit-keyframes openLaptop {
  to {
	transform: rotateX(0deg);
  }
  0% {
	transform: rotateX(60deg);
  }
  60% {
	transform: rotateX(40deg);
  }
  70% {
	transform: rotateX(20deg);
  }
  100% {
	transform: rotateX(0deg);
  }
}

@keyframes openLaptop {
  to {
	transform: rotateX(0deg);}
  0% {
	transform: rotateX(60deg);}
  60% {
	transform: rotateX(40deg);}
  70% {
	transform: rotateX(20deg);}
  100% {
	transform: rotateX(0deg); }
}

.ettersendelse {

  &.maincontent {
	display: block;
	padding-top: 0;
  }

  &.ingress {
    font-size: 20px;
  }

  &__ikon {
    display: block;
    width: 24px;
    height: 24px;
  }

  &__chevron {
	cursor: pointer;
  }

}

.blokk-center {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;

}

.avsnitt_med_marger {
  display: flex;
  width: 100%;
}

.venstemarg {
  flex-direction: row;
  width: 55px;
  min-width: 35px;
}

.avsnitt {
  flex-direction: row;
  width: 552px;
  margin-bottom: 48px;

  @media @mobile {
    margin-bottom: 20px;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
  }

  p {
    margin-top: 0;
	margin-bottom: 0;
  }

}

.hoyremarg {
  flex-direction: row;
  width: 55px;
  text-align: right;
  text-align: -webkit-right;

  &__ikon {
	color: #0067C5;
  	padding-right: 5px;
  }
}
