<div class="neste-bolk-knapper" data-ng-class="skalViseFeilmelding">
   <div>
        <button class="knapp hoved"
                type="button"
                data-ng-click="startSoknad()"
                data-ng-bind-html="'start' | cmstekst"
                data-fremdriftsindikator></button>
   </div>

    <ul class="liste-vannrett frittstaende-lenke">
        <li><a href="{{ dittnavUrl }}" data-ng-bind-html=" 'avbryt.lenketekst' | cmstekst"></a></li>
        <li><a href="#generellinformasjon" data-ng-bind-html=" 'tilbake.lenketekst' | cmstekst"></a></li>
    </ul>

</div>
