.infopanel {
	height: unset;
}

.infopanel_fade_in {
	transition: opacity 750ms;
	opacity: 1;
}

.infopanel_fade_out {
	transition: opacity 750ms;
	opacity: 0;

}

.react-collapse-konfigurering {
	overflow: visible !important;
}

.add-margin-smoothly {
	animation-name: visMargin;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-timing-function: ease;
}

.remove-margin-smoothly {
	animation-name: fjernMargin;
	animation-duration: 1s;
	animation-fill-mode: backwards;
	animation-iteration-count: 1;
	animation-timing-function: ease;
}

@keyframes visMargin {
	100% {
		margin-bottom: 1rem;
	}
}

@keyframes fjernMargin {
	100% {
		margin-bottom: 0;
	}
}


