.infopanel {
	height: unset;
	background-color: #6ab889;
}

.infopanel_fade_in {
	text-decoration-color: #06893A;
	opacity: 1;
}

.infopanel_fade_out {
	border: 1px dotted red;
	text-decoration-color: #cf412a;
	transition: opacity 2s;
	opacity: 1;
}

//.infopanel_react_collapse_konfig {
//}

//.with_margin {
//	margin-bottom: 1rem;
//}


