.infopanel {
	height: unset;
}

.infopanel_fade_in {
	transition: opacity 500ms;
	opacity: 1;
}

.infopanel_fade_out {
	opacity: 0;

	//animation-name: fjernInfoPanel;
	//animation-delay: 2s;
	//animation-duration: 0.01s;
	//animation-fill-mode: forwards;
	//animation-iteration-count: 1;
	//animation-timing-function: ease;
}

.react-collapse-konfigurering {
	overflow: visible !important;

	//animation-name: visInfoPanel;
	//animation-delay: 2s;
	//animation-duration: 0.01s;
	//animation-fill-mode: forwards;
	//animation-iteration-count: 1;
	//animation-timing-function: ease;
}

//@keyframes visInfoPanel {
//	100% {
//		height: initial;
//	}
//}
//
//@keyframes fjernInfoPanel {
//	100% {
//		height: 0;
//	}
//}


