.personopplysning-blokk {
  position: relative;
  padding-left: 6.25rem;

  .ikon {
    position: absolute;
    text-align: center; // Venstrejuster når grå bakgrunn på hele
    width: 5rem;
    left: 0%;
    top: 50%;
    transform: translate(0, -50%);
  }

  .innhold {

  }


}