.utskriftContainer {
	display: none !important;
}
@media print {
	.utskriftContainer {
		display: block !important;
		border-bottom: 1px solid @navGra40;

		&__hode {
			text-align: center;
			margin-bottom: 2rem;
			padding-top: 2rem;
			padding-bottom: 2rem;
			border-bottom: 1px solid @navGra40;
		}
		&__innhold {
			margin: 0 2rem;
			padding-bottom: 2rem;
		}
		&__side {
			page-break-after: always;
		}
	}
}

@media print {
	html.js-utskriftsmodus {
		height: auto;
		padding: 0 !important;
		overflow: auto !important;
		.hodefot {
			display: none;
		}
		.pagewrapper {
			height: auto;
		}
		body {
			height: auto;
			overflow: auto;
		}

		/* Skjul vanlig innhold */
		#js-bodyContainer {
			display: none;
		}
	}
}
