@skjemaMarg: 32px;
@skjemaMargMobil: 1rem;
@navBodyGraa: #f1f1f1;
@skjemabkg: @navBodyGraa;
@maxPageWidth: 640px;
@navText: @navMorkGra;
@orangeFocus: @navOransje;

@skjemaMargXL: 5rem;

@mobile: ~"only screen and (max-width: 480px) ";
@desktop: ~"only screen and (min-width: 481px) ";

@sporsmalBottomPadding: 2rem;

.focus-outline() {
    outline: none;
    box-shadow: 0 0 0 3px @orangeFocus;
}

.tittel-strek-after() {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    bottom: 1em;
    left: 50%;
    margin-left: -15px;
    background-color: @navGronnLighten60;
}
