.systeminfoMedSkjema {
	&__info {
		 margin-bottom: 1rem;
	}
	&__skjema {

	}
	&__skjemaWrapper {
	}

	& + .skjema-sporsmal {
		margin-top: 2rem;
	}
	& + .systeminfoMedSkjema {
		margin-top: -1px;
	}
}
