.informasjonspanel {
  border-radius: 8px;
  //border: solid 2px #ffd399;
  min-height: 80px;
  display: flex;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  &__navGronnLighten40 {
    border: solid 2px @navGronnLighten40;
  }

  &__navGronnLighten60 {
    border: solid 2px @navGronnLighten60;
  }

  &__navOransjeLighten40 {
    border: solid 2px @navOransjeLighten40;
  }

  &__redError {
    border: solid 2px @redError;
  }

}

.informasjonspanel__tekst {
  transform: translate(-23px);
  padding-right: 20px;
}

.informasjonspanelWrapper {
  padding-bottom: 5rem;
}

@media screen and (max-width: 740px ) {

  .skjema-informasjonspanel {
    margin-left: 1.0rem;
  }
}

.mobilvennlig_ikon {
  display: none;
}

.ikke_mobilvennlig_ikon {
  display: inline-block;
  transform: translate(-40px);
}

@media @mobile {

  .mobilvennlig_ikon {
    display: inline-block;
    height: 64px;
    transform: translate(-32px);
  }

  .ikke_mobilvennlig_ikon {
    display: none;
  }
}

