.skjema-informasjonspanel {
	position: relative;
	border-radius: 0.5rem;
	background-color: #ffffff;
	padding: 2rem 1.5rem 2rem 3.5rem;
	margin-bottom: 1rem;
	transition: opacity 0.5s;
  	opacity: 0;

	animation-name: fjernInfoPanel;
	animation-delay: 3s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-timing-function: ease;

	&>div {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(-50%, -50%);

		&>img {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -40%);
			height: 4.5rem;
		}

	}

  	&__synlig {
		opacity: 1.0;

		animation-name: visInfoPanel;
		animation-delay: 1s;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		animation-iteration-count: 1;
		animation-timing-function: ease;

	  	&>div {
		  opacity: 1.0;
		}
	}
}

@keyframes visInfoPanel {
	100% {
		height: initial;
	}
}

@keyframes fjernInfoPanel {
	100% {
		height: 0;
	}
}

.react-collapse-konfigurering {
	overflow: visible !important;
}

.skjema-informasjonspanel-wrapper {
  display: block;
  border-top: 1px solid @navBodyGraa;
  border-bottom: 1px solid @navBodyGraa;
}

@media screen and (max-width: 740px ) {
  .skjema-informasjonspanel {
	padding: 3.5rem 1.5rem 2rem 1.5rem;
	margin-top: 3rem;

	& > div {
	  left: 50%;
	  top: 0;
	}
  }
}

.skjema-informasjonspanel.skjema-informasjonspanel-navGronn {
	border: solid 2px #6ab889;
}

.skjema-informasjonspanel.skjema-informasjonspanel-navGronnLighten60 {
	border: solid 2px @navGronnLighten60;
}

.skjema-informasjonspanel.skjema-informasjonspanel-navOransjeLighten40 {
	border: solid 2px @navOransjeLighten40;
}

.skjema-informasjonspanel.skjema-informasjonspanel-redError {
	border: solid 2px @redError;
}





