.digisos-snakkeboble-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 7px;
}

.digisos-snakkeboble {
  display: block;
  position: relative;
}

.digisos-snakkeboble-innhold {
  display: block;
  width: 390px;
  border-radius: 10px;
  padding: 18px;
  background-color: #cde7d8;
  text-align: left;
  font-size: 16px;
  line-height: 1.38;
  position: relative;
  z-index: 2;
}

.digisos-snakkeboble-pil {
  position: absolute;
  bottom: -1.2rem;
  right: 5rem;
  width: 4rem;
  height: 4rem;
  background-color: #cde7d8;
  transform: rotate(90deg) skew(36deg);
}

.digisos-snakkeboble-innhold h3 {
  font-weight: bold;
  display: block;
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 5px;
}