@types:registry = "http://a34apvl062.devillo.no:8082/repository/npm-all"
@timer:registry = "http://a34apvl062.devillo.no:8082/repository/npm-all"

registry=https://repo.adeo.no/repository/npm-public/
strict-ssl=false
