@import "tailwindcss";
@import "@navikt/ds-css" layer(base);

@config '../tailwind.config.mjs';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

/* We can't use "hidden" with tailwind because ye olde nav-frontend-core
   overrides it -- so we declare an alias tw-hidden which should enable
   a very fast search-and-replace once we're done migrating to ds-react
*/
@utility tw-hidden {
    display: none;
}

#root {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.top-stepper .navds-stepper__item {
    flex: 1 1 0;
    gap: 0;
}

.top-stepper .navds-stepper__step {
    margin: -2px;
    margin-bottom: -10px;
}

.top-stepper .navds-stepper__step--active > .navds-stepper__circle {
    color: white;
    background-color: var(--a-blue-700);
}

.top-stepper .navds-stepper__circle {
    font-weight: normal;
    border: none;
    background-color: white;
    color: black;
}

.top-stepper .navds-stepper__content {
    display: none;
}
