@import "../../nav-skjema/styles/variables.less";

.kvittering {
	margin: 3rem auto 0 auto;
	&__ikon {
		margin: 0.6rem 0;
	}
	&__tittel {
		padding-bottom: 1.5em;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			width: 30px;
			height: 2px;
			bottom: 0.4em;
			left: 50%;
			margin-left: -15px;
			background-color: @navGronnLighten60;
		}
	}
	&__tekst {
		padding: 0 @skjemaMarg @skjemaMarg @skjemaMarg;
	}
}
