@vpad: 2rem;
.skjema-oppsummering {
	.bolk__rediger {
		margin-bottom: 2rem;
		text-align: right;
	}
	h3,
	h4,
	h5 {
		font-size: 1em;
		margin-bottom: 1rem;
	}

	ol,
	ul {
		list-style: none;
		padding: 0;
		margin: 0 0 @vpad 0;
	}

	.svar-liste .svar-liste {
		> li {
			margin-bottom: 0.5rem;
		}
	}

	.fakta-liste {
		> li {
			margin-bottom: @vpad;
		}
	}

	.label {
		display: block;
		margin-bottom: 0.5rem;
	}

	/** Skjule lister som ikke har noen verdier */
	.tomListe {
		display: none;
	}

	.verdi {
		display: inline-block;
		position: relative;
		&--tekst,
		&--generell {
			background-color: @grayBackground;
			padding: 0.4em 1em 0.5em 1em;
			border-radius: 2px;
		}
		&--radio,
		&--check {
			position: relative;
			padding-left: 1.5rem;
			&:before {
				content: "";
				position: absolute;
				left: -3px;
				top: -1px;
				width: 24px;
				height: 24px;
				background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAyMiAyMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjIgMjI7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8cG9seWdvbiBwb2ludHM9IjkuMywxNS40IDYsMTEgOC40LDExIDEwLDEzIDEzLjcsNi42IDE2LDYuNiAxMC45LDE1LjQgCSIvPgo8L2c+Cjwvc3ZnPgo=");
				background-size: 24px 24px;
			}
		}
		&--ikkeUtfylt {
			display: block;
		}
	}

	&__bekreft {
		border-radius: 4px;
		background: @white;
		padding-left: 1rem;
		padding-right: 1rem;
		padding-top: 1rem;
		padding-bottom: 0.5rem;
		margin: 0 auto;

	    &___feil {
		  background: @navRodLighten80;
		}
	}


	/** Spacing gitt kombinasjoner */
	.verdi--check,
	.verdi--radio {
		+ .fakta-liste {
			margin-top: @vpad;
		}
	}
}

.brosjyre-signatur {
	background-color: white;
	margin: 1rem 0 @vpad 0;
	padding: 1rem @skjemaMarg;
}
