.brevkonvolutt__navGronnLighten40 {

  .bakgrunnsSirkel {
    fill: @navGronnLighten40;
  }
}

.brevkonvolutt__navGronnLighten60 {

  .bakgrunnsSirkel {
    fill: @navGronnLighten60;
  }
}


.brevkonvolutt__navOransjeLighten40 {

  .bakgrunnsSirkel {
    fill: @navOransjeLighten40;
  }
}

.brevkonvolutt__redError {

  .bakgrunnsSirkel {
    fill: @redError;
  }
}

