.brevkonvolutt--suksess-farge {

  .bakgrunnsSirkel {
    fill: @navSuksessFarge;
  }
}

.brevkonvolutt--viktig-farge {

  .bakgrunnsSirkel {
    fill: @navViktigFarge;
  }
}

.brevkonvolutt--feil-farge {

  .bakgrunnsSirkel {
    fill: @navFeilFarge;
  }
}

