name: "Build dev-sbs Image"
on:
    workflow_dispatch:

jobs:
    build-image:
        name: "Build dev-sbs Image"
        runs-on: ubuntu-latest
        permissions:
            contents: write
            packages: write
            actions: write
        env:
            NEXT_PUBLIC_DIGISOS_ENV: dev-sbs
            DOCKER_IMAGE: ghcr.io/${{ github.repository }}/${{ github.event.repository.name }}
            READER_TOKEN: ${{ secrets.READER_TOKEN }}
            WORKFLOW_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        steps:
            - name: "Build Docker Image"
              uses: navikt/sosialhjelp-soknad/.github/actions/build-image@master
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
              with:
                  prefix: ${{ env.NEXT_PUBLIC_DIGISOS_ENV }}
