# Denne filen vil erstatte build_prod, build_deploy_mock, etc.

name: "Build and deploy to dev-gcp"
run-name: "Deploy '${{ github.ref_name }}' to '${{ github.event.inputs.environment }}' (preprod on push to main)"

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to deploy to"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - mock
          - preprod
          - alle
  push:
    branches:
      - "main"

jobs:
  build-for-playwright:
    name: Build for playwright
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          build-args: |
            DIGISOS_ENV=e2e
            LOGIN_SESSION_API_URL=""
            LOGOUT_URL=""
          secrets: |
            NODE_AUTH_TOKEN=${{ secrets.READER_TOKEN }}
          tags: ghcr.io/${{ github.repository }}-e2e:${{ github.sha }}
    outputs:
      image: ${{ steps.playwright-build.outputs.image }}

  run-playwright:
    needs: [ build-for-playwright ]
    name: Playwright shard ${{ matrix.shardIndex }}
    runs-on: ubuntu-latest
    services:
      app:
        image: ${{ needs.build-for-playwright.outputs.image }}
        ports: [ "3001:3001" ]
    strategy:
      fail-fast: false
      matrix:
        shardIndex: [ 1, 2, 3, 4, 5, 6, 7, 8 ]
        shardTotal: [ 8 ]
    steps:
      - uses: actions/checkout@v5
      - run: corepack enable
      - uses: actions/setup-node@v6
        id: setup-node
        with:
          node-version: 24
      # We specifically do not use the yarn cache here, because installing the playwright e2e workspace is actually faster without cache
      - uses: navikt/sosialhjelp-ci/actions/playwright/run@playwright
        with:
          shardIndex: ${{ matrix.shardIndex }}
          shardTotal: ${{ matrix.shardTotal }}

  playwright-report:
    name: Playwright report
    if: ${{ !cancelled() }}
    needs: [ run-playwright ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: navikt/sosialhjelp-ci/actions/playwright/report@playwright
  prepare:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.filter_matrix.outputs.matrix }}
    steps:
      - name: Filter matrix
        id: filter_matrix
        run: |
          if [[ "${{ github.event_name }}" == "push" ]]; then
            echo '{"include": [{"environment": "preprod"}]}' > matrix.json
          elif [[ "${{ github.event.inputs.environment }}" == "alle" ]]; then
            echo '{"include": [{"environment": "preprod"}, {"environment": "mock"}, {"environment": "dev"}]}' > matrix.json
          else
            echo '{"include": [{"environment": "'${{ github.event.inputs.environment }}'"}]}' > matrix.json
          fi
          echo "matrix=$(cat matrix.json)" >> $GITHUB_OUTPUT

  deploy-gcp:
    strategy:
      matrix: ${{fromJson(needs.prepare.outputs.matrix)}}
    runs-on: ubuntu-latest
    needs: prepare
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v6

      - name: "Build npm project"
        uses: navikt/sosialhjelp-ci/actions/build-node@v13
        with:
          node-version: 24
          build-less: "false"
          run-orval: "true"
          reader-token: ${{ secrets.READER_TOKEN }}
          run-test: "false"
          build-env: '{"NEXT_PUBLIC_DIGISOS_ENV": "${{ matrix.environment }}"}'

      - name: "Upload static files to cdn"
        id: upload
        uses: nais/deploy/actions/cdn-upload/v2@master
        with:
          team: teamdigisos
          source: ./.next/static
          destination: "/sosialhjelp-soknad/_next"

      - name: Build and push docker image to GAR
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: teamdigisos
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          image_suffix: ${{ matrix.environment }}
          build_args: |
            DIGISOS_ENV=${{ matrix.environment }}
          build_secrets: |
            NODE_AUTH_TOKEN=${{ secrets.READER_TOKEN }}

      - name: "Deploy to ${{ matrix.environment }}"
        uses: nais/deploy/actions/deploy@v2
        env:
          RESOURCE: .nais/app.yaml
          CLUSTER: dev-gcp
          REF: ${{ github.sha }}
          PRINT_PAYLOAD: true
          IMAGE: ${{ steps.docker-build-push.outputs.image }}
          VARS: .nais/vars/${{ matrix.environment }}.yaml
