name: Build prod-sbs image - HUSK MANUELL DEPLOY TIL PROD!
on:
    workflow_run:
        workflows: ["Build code and run test"]
        branches: [master]
        types:
            - completed

jobs:
    build-image:
        name: "Build prod-sbs Image"
        runs-on: ubuntu-latest
        permissions:
            contents: write
            packages: write
            actions: write
        env:
            NEXT_PUBLIC_DIGISOS_ENV: prod-sbs
            DOCKER_IMAGE: ghcr.io/${{ github.repository }}/${{ github.event.repository.name }}
            READER_TOKEN: ${{ secrets.READER_TOKEN }}
            WORKFLOW_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        steps:
            - name: "Build Docker Image"
              uses: navikt/sosialhjelp-soknad/.github/actions/build-image@master
              with:
                  prefix: ${{ env.NEXT_PUBLIC_DIGISOS_ENV }}
