# Denne filen vil erstatte build_prod, build_deploy_mock, etc.

name: "Build and deploy to dev-gcp"
run-name: "Deploy '${{ github.ref_name }}' to '${{ github.event.inputs.environment }}' (preprod on push to main)"

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to deploy to"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - mock
          - preprod
          - alle
  push:
    branches:
      - "main"

permissions:
  contents: read
  id-token: write
  packages: write

jobs:
  playwright-tests:
    name: Playwright Tests
    uses: ./.github/workflows/playwright-tests.yml
  prepare:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.filter_matrix.outputs.matrix }}
    steps:
      - name: Filter matrix
        id: filter_matrix
        run: |
          if [[ "${{ github.event_name }}" == "push" ]]; then
            echo '{"include": [{"environment": "preprod"}]}' > matrix.json
          elif [[ "${{ github.event.inputs.environment }}" == "alle" ]]; then
            echo '{"include": [{"environment": "preprod"}, {"environment": "mock"}, {"environment": "dev"}]}' > matrix.json
          else
            echo '{"include": [{"environment": "'${{ github.event.inputs.environment }}'"}]}' > matrix.json
          fi
          echo "matrix=$(cat matrix.json)" >> $GITHUB_OUTPUT

  deploy-gcp:
    strategy:
      matrix: ${{fromJson(needs.prepare.outputs.matrix)}}
    runs-on: ubuntu-latest
    needs: [ prepare, playwright-tests ]
    steps:
      - uses: actions/checkout@v6

      - name: "Build npm project"
        uses: navikt/sosialhjelp-ci/actions/build-node@v15
        with:
          node-version: 24
          build-less: "false"
          run-orval: "true"
          reader-token: ${{ secrets.READER_TOKEN }}
          run-test: "false"
          build-env: '{"NEXT_PUBLIC_DIGISOS_ENV": "${{ matrix.environment }}"}'

      - name: "Upload static files to cdn"
        id: upload
        uses: nais/deploy/actions/cdn-upload/v2@master
        with:
          team: teamdigisos
          source: ./.next/static
          destination: "/sosialhjelp-soknad/_next"

      - name: Build and push docker image to GAR
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: teamdigisos
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          image_suffix: ${{ matrix.environment }}
          build_args: |
            DIGISOS_ENV=${{ matrix.environment }}
          build_secrets: |
            NODE_AUTH_TOKEN=${{ secrets.READER_TOKEN }}

      - name: "Deploy to ${{ matrix.environment }}"
        uses: nais/deploy/actions/deploy@v2
        env:
          RESOURCE: .nais/app.yaml
          CLUSTER: dev-gcp
          REF: ${{ github.sha }}
          PRINT_PAYLOAD: true
          IMAGE: ${{ steps.docker-build-push.outputs.image }}
          VARS: .nais/vars/${{ matrix.environment }}.yaml
