# Denne filen vil erstatte build_prod, build_deploy_mock, etc.

name: "Build and deploy to prod-gcp"

on:
  workflow_dispatch:
  push:
    branches:
      - "main"

permissions:
  contents: read
  id-token: write
  packages: write

jobs:
  build-for-playwright:
    name: Build for playwright
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          build-args: |
            DIGISOS_ENV=e2e
            LOGIN_SESSION_API_URL=""
            LOGOUT_URL=""
          secrets: |
            NODE_AUTH_TOKEN=${{ secrets.READER_TOKEN }}
          tags: ghcr.io/${{ github.repository }}-e2e:${{ github.sha }}
    outputs:
      image: ${{ steps.playwright-build.outputs.image }}

  run-playwright:
    needs: [ build-for-playwright ]
    name: Playwright shard ${{ matrix.shardIndex }}
    runs-on: ubuntu-latest
    services:
      app:
        image: ghcr.io/${{ github.repository }}-e2e:${{ github.sha }}
        ports: [ "3001:8080" ]
    strategy:
      fail-fast: false
      matrix:
        shardIndex: [ 1, 2, 3 ]
        shardTotal: [ 3 ]
    steps:
      - uses: actions/checkout@v5
      - run: corepack enable
      - uses: actions/setup-node@v6
        id: setup-node
        with:
          node-version: 24
      - name: Install dependencies
        shell: bash
        run: |
          pnpm install --prefer-offline --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - uses: navikt/sosialhjelp-ci/actions/playwright/run@playwright
        with:
          shardIndex: ${{ matrix.shardIndex }}
          shardTotal: ${{ matrix.shardTotal }}

  playwright-report:
    name: Playwright report
    if: ${{ !cancelled() }}
    needs: [ run-playwright ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: navikt/sosialhjelp-ci/actions/playwright/report@playwright

  deploy-gcp:
    needs: [ run-playwright ]
    strategy:
      fail-fast: false
      matrix:
        include:
          - environment: prod
            cluster: prod-gcp
            session-url: "https://www.nav.no/sosialhjelp/soknad/oauth2/session"
            logout-url: "https://www.nav.no/sosialhjelp/soknad/oauth2/logout"

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: "Build npm project"
        uses: navikt/sosialhjelp-ci/actions/build-node@v13
        with:
          node-version: 24
          build-less: "false"
          run-orval: "true"
          reader-token: ${{ secrets.READER_TOKEN }}
          run-test: "false"
          build-env: '{"NEXT_PUBLIC_DIGISOS_ENV": "prod"}'

      - name: "Upload static files to cdn"
        id: upload
        uses: nais/deploy/actions/cdn-upload/v2@master
        with:
          team: teamdigisos
          source: ./.next/static
          destination: "/sosialhjelp-soknad/_next"
      - name: Build and push docker image to GAR
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: teamdigisos
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          image_suffix: ${{ matrix.environment }}
          build_args: |
            DIGISOS_ENV=${{ matrix.environment }}
            LOGIN_SESSION_API_URL=${{ matrix.session-url }}
            LOGOUT_URL=${{ matrix.logout-url }}
          build_secrets: |
            NODE_AUTH_TOKEN=${{ secrets.READER_TOKEN }}

      - name: "Deploy to ${{ matrix.environment }}"
        uses: nais/deploy/actions/deploy@v2
        env:
          RESOURCE: .nais/app.yaml
          CLUSTER: ${{ matrix.cluster }}
          REF: ${{ github.sha }}
          PRINT_PAYLOAD: true
          IMAGE: ${{ steps.docker-build-push.outputs.image }}
          VARS: .nais/vars/${{ matrix.environment }}.yaml
