name: "Playwright Tests"

on:
  workflow_call:

permissions:
  contents: read
  id-token: write
  packages: write

jobs:
  build-for-playwright:
    name: Build for playwright
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: navikt/sosialhjelp-ci/actions/playwright/build@v15
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          run-orval: "true"
          docker-build-args: |
            DIGISOS_ENV=e2e
            LOGIN_SESSION_API_URL=""
            LOGOUT_URL=""

  run-playwright:
    needs: [ build-for-playwright ]
    name: Playwright shard ${{ matrix.shardIndex }}
    runs-on: ubuntu-latest
    services:
      app:
        image: ghcr.io/${{ github.repository }}-e2e:${{ github.sha }}
        ports: [ "3001:8080" ]
    strategy:
      fail-fast: false
      matrix:
        shardIndex: [ 1, 2, 3 ]
        shardTotal: [ 3 ]
    steps:
      - uses: actions/checkout@v5
      - run: corepack enable
      - uses: actions/setup-node@v6
        id: setup-node
        with:
          registry-url: "https://npm.pkg.github.com"
          node-version: 24
      - name: Install dependencies
        shell: bash
        run: |
          pnpm install --prefer-offline --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: navikt/sosialhjelp-ci/actions/playwright/run@v15
        with:
          shardIndex: ${{ matrix.shardIndex }}
          shardTotal: ${{ matrix.shardTotal }}

  playwright-report:
    name: Playwright report
    if: ${{ !cancelled() }}
    needs: [ run-playwright ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: navikt/sosialhjelp-ci/actions/playwright/report@v15

